<h1>Amiga date cuenta!</h1>

<form method="POST" action="updateAmigo.php" enctype="multipart/form-data">
    <input type="hidden" name="id" value='<?=$amigo["id"]?>'>
    <?php if(isset($error_nombre)): ?>
        <span class="red-text">*<?=$error_nombre?></span>
        <?php endif; ?>
            <label>Nombre del amigo: </label>
            <input type="text" name="amigo" value='<?=$amigo["nombre"]?>'>
            <?php if(isset($error_archivo)): ?>
                <span class="red-text">*<?=$error_archivo?></span>
                <?php endif; ?>
                    <label>Foto del amigo: </label>
                    <input type="file" name="fileToUpload" id="fileToUpload" value='<?=$amigo["foto"]?>'> Archivo actual:
                    <?=$amigo["foto"]?>
                        <br>
                        <input class="waves-effect waves-light btn" type="submit" name="enviar" value="enviar">
</form>