<h1>Amiga date cuenta!</h1>

<form method="POST" action="index.php" enctype="multipart/form-data">
    <?php if(isset($error_nombre)): ?>
        <span class="red-text">*<?=$error_nombre?></span>
        <?php endif; ?>
            <label>Nombre del amigo: </label>
            <input type="text" name="amigo">
            <?php if(isset($error_archivo)): ?>
                <span class="red-text">*<?=$error_archivo?></span>
                <?php endif; ?>
                    <label>Foto del amigo: </label>
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <br>
                    <input class="waves-effect waves-light btn" type="submit" name="enviar" value="enviar">
</form>